$white-color: #ffffff;
$black-color: #000000;
$pink-color: #d10688;
$red-color: #FF000A;
$blue-color: #4c40f7;
$darkblue-color: #0E42AC;
$navBlue-color: #041E42;
$yellow-color: #FFA400;
$light-color: #F5F5F5;
$gray-color: #C7C7C7;
$lightpink-color:#EB0CEB;
$green-color:#51BF00;

// Responsive breakpoints
$breakpoint-extra-large: 1440px;
$breakpoint-large:1280px;
$breakpoint-medium-large:1100px;
$breakpoint-medium: 999px;
$breakpoint-small: 767px;
$breakpoint-medium-small: 640px;
$breakpoint-very-small: 480px;
$breakpoint-extra-small: 320px;

// Fonts

$baseFont: 'Poppins';
$normal: normal;
$italic: italic;
$weight-normal: normal;
$weight-bold: bold;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-30: 1.875rem;
$font-size-40: 2.5rem;
$character-spacing-0: 0px;
$transform-uppercase: uppercase
  